<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYLTabBarControlDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EFA882E1D1CDA1E00A03E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFA884A1D1CDA1E00A03E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFA88551D1CDA1E00A03E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
